@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap');

html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }

}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #FFFFFF;
        border: 1px solid #191919;
        color: #191919;
    }

}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }

}

.section-title {
    padding-top: 70px;
    padding-bottom: 30px;

    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;
    }

    p {
        color: #F94D1C;
        margin-bottom: 10px;
    }

    h2 {
        color: #191919;
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #F0EFE9;
    padding: 16px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;

        .menu-bars {
            border: none;
            font-size: 25px;
            background-color: transparent;
        }

        .menu {
            display: none;
            flex: 1px;
            @media (min-width: 992px) {
                display: block;
            }

            .top-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #DAD9D3;
                padding-bottom: 10px;

                @media (min-width: 1200px) {
                    justify-content: space-between;
                }

                .contact-information {
                    display: none;
                    align-items: center;

                    @media (min-width: 1200px) {
                        display: flex;
                    }

                    .content-box {
                        padding-right: 30px;
                        margin-right: 30px;
                        border-right: 1px solid #DAD9D3;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        font-weight: 300;

                        i {
                            margin-right: 5px;
                            font-size: 1.2em;
                        }

                        &.last {
                            border: none;
                        }
                    }
                }

                .social-media {
                    a {
                        color: #191919;
                        font-size: 1.3rem;
                        margin-left: 10px;

                        &:hover {
                            color: #7C7C7C;
                        }
                    }
                }
            }
            .main-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;

                nav {
                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 35px;
                        position: relative;

                        &.active {
                            font-weight: 500;
                        }

                        &.active::after, 
                        &:hover::after {
                            content: " ";
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                }

                .btn-login {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
    }
}

.showcase {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;

    .background-lines {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }
            
            h1 {
                font-family: "DM Sans", sans-serif;
                font-weight: 700;
                font-size: 40px;
                text-align: center;

                @media (min-width:768px ) {
                    font-size: 70px;
                }

                @media (min-width: 1400px) {
                    font-size: 86px;
                }
            }

            p {
                font-size: 18px;
                padding-top: 40px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;

                @media (min-width:768px ) {
                    font-size: 20px;
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            a {
                margin-right: 0px;
                display: block;
                margin-bottom: 20px;

                @media (min-width:768px ) {
                    margin-right: 10px;
                    display: inline-block;
                }
            }
        }

        img {
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px) {
                display: block;
            }
        }
    }
}

.logos {
    .container {
        display: none;

        @media (min-width: 1400px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 72px;
            padding-right: 50px;
            margin-bottom: 80px;
        }
    }
}

.features {
    padding-bottom: 120px;

    .container {
        font-family: "DM Sans", sans-serif;
        text-align: left;
        display: grid;
        grid-template-columns: 3fr 5fr;
        gap: 30px;
        padding-top: 80px;
        padding-bottom: 32px;
        outline: 2px solid #DAD9D3;
        outline-offset: 2rem;

        .section-title2 {
            color: #F94D1C;
            
            h2 {
                color: #191919;
                font-family: "DM Sans", sans-serif;
                font-weight: 700;
                font-size: 45px;
                padding-bottom: 48px;
            }
        }
        .btn-yellow-long {
            background-color: #F9D783;
            border: 1px solid #F9D783;
            color: #191919;
            text-decoration: none;
            padding: 15px;
            display: block;
            text-align: center;
            font-weight: 600;
            font-size: 16px;
            border-radius: 48px;

            i {
                margin-left: 8px;
                font-size: 0.9em;
            }

            &:hover {
                background-color: #191919;
                border: 1px solid #191919;
                color: #F0EFE9;
            }
        }
        @media (max-width: 768px) {
            margin-left: 100px;
            display: inline-block;
            text-align: center;
        }
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        color: #191919;
        text-decoration: none;
        text-align: left;
        padding-left: 103px;
        gap: 30px;
        
        @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 768px) {
        padding-top: 40px;
        margin-right: 110px;
        text-align: center;
        }
    }

    @media (max-width: 1400px) {
        margin-top: 80px;
    }
}

.company {
    .container {
        position: relative;
        font-family: "DM Sans", sans-serif;
        text-align: left;
        display: grid;
        grid-template-columns: 3fr 5fr;
        justify-items: start;

        .founder {
            position: relative;

            .founder-pic {
                position: relative;
                z-index: -1;
            }

            .wavy-lines {
                position: absolute;
                width: 35%;
                top: 60px;
                left: 0px;
            }

            h2 {
                position: absolute;
                top: 400px;
                left: -25px;
                font-size: 22px;
                z-index: 1;
                color: #191919;
                font-weight: 700;
            }

            h3 {
                position: absolute;
                top: 404px;
                right: 270px;
                color: #F94D1C;
                font-size: 18px;
                z-index: 1;
                font-weight: 700;
            }

            p {
                position: absolute;
                top: 440px;
                left: -25px;
                z-index: 1;
                color: #191919;
                width: 300px;
                font-weight: 500;
            }

            .founder-box {
                position: absolute;
                margin-left: -40px;
                margin-top: -200px;
                height: 160px;
                width: 325px;
                background-color: #BEEBFF;
                z-index: 0;
            }
        }

        .content {
            display: inline-block;
            position: absolute;
            padding-left: 500px;
            margin-left: 200px;
            padding-right: 150px;
            top: -125px;
            color: #191919;
            text-decoration: none;
            text-align: left;

            .section-title3 {
                padding-top: 70px;
                padding-bottom: 30px;
            
                @media (min-width: 768px) {
                    padding-top: 120px;
                }
            
                p {
                    color: #F94D1C;
                    margin-bottom: 10px;
                }
            
                h2 {
                    color: #191919;
                    font-family: "DM Sans", sans-serif;
                    font-weight: 700;
                    font-size: 45px;
                }
            }

            .btns {
                display: flex;
                justify-content: space-between;
                padding-top: 60px;

                .intro-video {
                    a {
                        color: #191919;
                        margin-right: 210px;
                        margin-top: -10px;
                        background-color: transparent;
                        border: 1px solid #191919;
                        text-decoration: none;
                        padding: 16px 22px;
                        border-radius: 50px;

                        &:hover {
                            color: #F0EFE9;
                            background-color: #191919;
                        }
                    }

                    @media (max-width: 1400px) {
                        margin-top: 40px;
                    }
                }

                @media (max-width: 1400px) {
                    display: block;
                    margin-top: -40px;
                }                   
            }

            .intro-video-text {
                position: absolute;
                right: 270px;
                bottom: -14px;
                font-weight: 500;

                @media (max-width: 1400px) {
                    margin-right: 20px;
                }

                @media (max-width: 1200px) {
                    margin-right: 0px;
                }
            }

            @media (max-width: 768px) {
                display: none;                
            }
        }

        @media (max-width: 1400px) {
            padding-bottom: 100px;               
        }

        @media (max-width: 768px) {
            margin-left: 100px;
        }
    }
}

.project-and-case {
    .container {
        .section-title {
            text-align: center;
        }

        .project-and-cases {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            .project {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr auto;
            color: #191919;
            text-decoration: none;

                img {
                    width: 100%;
                    height: auto;
                }

                h3 {
                    font-family: "DM Sans", sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3;
                }

                .readmore {
                    padding: 15px;
                    display: block;
                    text-align: right;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #191919;

                    i {
                        margin-left: 3px;
                    }
                }

                &:hover .readmore {
                    text-decoration: underline;
                }
            }
        }
        .center-content {
            margin-top: 50px;
            margin-bottom: 90px;
        }
    }
}

.Newsletter {
    background-color: #F0EFE9;
    position: relative;
    padding: 80px;
    padding-bottom: 80px;

    .background-wavy-right {
    position: absolute;
    bottom: 50px;
    right: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-family: "DM Sans", sans-serif;
            font-size: 45px;
            font-weight: 700;

        }

        form {
            input {
                color: #191919;
                text-decoration: none;
                padding: 15px 20px;
                font-size: 16px;
                border-radius: 25px;
                outline: none;
                border: 1px solid #DAD9D3;
                margin-right: 20px;
            }
        }
    }
}