@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.section-title {
  padding-top: 70px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #F94D1C;
  margin-bottom: 10px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
header .container .menu {
  display: none;
  flex: 1px;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #7C7C7C;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: " ";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.logos .container {
  display: none;
}
@media (min-width: 1400px) {
  .logos .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 72px;
    padding-right: 50px;
    margin-bottom: 80px;
  }
}

.features {
  padding-bottom: 120px;
}
.features .container {
  font-family: "DM Sans", sans-serif;
  text-align: left;
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 30px;
  padding-top: 80px;
  padding-bottom: 32px;
  outline: 2px solid #DAD9D3;
  outline-offset: 2rem;
}
.features .container .section-title2 {
  color: #F94D1C;
}
.features .container .section-title2 h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  padding-bottom: 48px;
}
.features .container .btn-yellow-long {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  border-radius: 48px;
}
.features .container .btn-yellow-long i {
  margin-left: 8px;
  font-size: 0.9em;
}
.features .container .btn-yellow-long:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}
@media (max-width: 768px) {
  .features .container {
    margin-left: 100px;
    display: inline-block;
    text-align: center;
  }
}
.features .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
  text-align: left;
  padding-left: 103px;
  gap: 30px;
}
@media (min-width: 768px) {
  .features .content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .features .content {
    padding-top: 40px;
    margin-right: 110px;
    text-align: center;
  }
}
@media (max-width: 1400px) {
  .features {
    margin-top: 80px;
  }
}

.company .container {
  position: relative;
  font-family: "DM Sans", sans-serif;
  text-align: left;
  display: grid;
  grid-template-columns: 3fr 5fr;
  justify-items: start;
}
.company .container .founder {
  position: relative;
}
.company .container .founder .founder-pic {
  position: relative;
  z-index: -1;
}
.company .container .founder .wavy-lines {
  position: absolute;
  width: 35%;
  top: 60px;
  left: 0px;
}
.company .container .founder h2 {
  position: absolute;
  top: 400px;
  left: -25px;
  font-size: 22px;
  z-index: 1;
  color: #191919;
  font-weight: 700;
}
.company .container .founder h3 {
  position: absolute;
  top: 404px;
  right: 270px;
  color: #F94D1C;
  font-size: 18px;
  z-index: 1;
  font-weight: 700;
}
.company .container .founder p {
  position: absolute;
  top: 440px;
  left: -25px;
  z-index: 1;
  color: #191919;
  width: 300px;
  font-weight: 500;
}
.company .container .founder .founder-box {
  position: absolute;
  margin-left: -40px;
  margin-top: -200px;
  height: 160px;
  width: 325px;
  background-color: #BEEBFF;
  z-index: 0;
}
.company .container .content {
  display: inline-block;
  position: absolute;
  padding-left: 500px;
  margin-left: 200px;
  padding-right: 150px;
  top: -125px;
  color: #191919;
  text-decoration: none;
  text-align: left;
}
.company .container .content .section-title3 {
  padding-top: 70px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .company .container .content .section-title3 {
    padding-top: 120px;
  }
}
.company .container .content .section-title3 p {
  color: #F94D1C;
  margin-bottom: 10px;
}
.company .container .content .section-title3 h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.company .container .content .btns {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.company .container .content .btns .intro-video a {
  color: #191919;
  margin-right: 210px;
  margin-top: -10px;
  background-color: transparent;
  border: 1px solid #191919;
  text-decoration: none;
  padding: 16px 22px;
  border-radius: 50px;
}
.company .container .content .btns .intro-video a:hover {
  color: #F0EFE9;
  background-color: #191919;
}
.company .container .content .intro-video-text {
  position: absolute;
  right: 270px;
  bottom: -14px;
  font-weight: 500;
}

.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
.project-and-case .container .project-and-cases .project img {
  width: 100%;
  height: auto;
}
.project-and-case .container .project-and-cases .project h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.project-and-case .container .project-and-cases .project .readmore {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.project-and-case .container .project-and-cases .project .readmore i {
  margin-left: 3px;
}
.project-and-case .container .project-and-cases .project:hover .readmore {
  text-decoration: underline;
}
.project-and-case .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.Newsletter {
  background-color: #F0EFE9;
  position: relative;
  padding: 80px;
  padding-bottom: 80px;
}
.Newsletter .background-wavy-right {
  position: absolute;
  bottom: 50px;
  right: 0;
}
.Newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.Newsletter .container form input {
  color: #191919;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 25px;
  outline: none;
  border: 1px solid #DAD9D3;
  margin-right: 20px;
}