@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.section-title {
  padding-top: 70px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #F94D1C;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
header .container .menu {
  display: none;
  flex: 1px;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #7C7C7C;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: " ";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.logos .container {
  display: none;
}
@media (min-width: 1400px) {
  .logos .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 72px;
    padding-right: 50px;
    margin-bottom: 80px;
  }
}

.features {
  padding-bottom: 120px;
}
.features .container {
  font-family: "DM Sans", sans-serif;
  text-align: left;
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 30px;
  padding-top: 80px;
  padding-bottom: 32px;
  outline: 2px solid #DAD9D3;
  outline-offset: 2rem;
}
.features .container .section-title2 {
  color: #F94D1C;
}
.features .container .section-title2 h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  padding-bottom: 48px;
}
.features .container .btn-yellow-long {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  border-radius: 48px;
}
.features .container .btn-yellow-long i {
  margin-left: 8px;
  font-size: 0.9em;
}
.features .container .btn-yellow-long:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}
@media (max-width: 768px) {
  .features .container {
    margin-left: 100px;
    display: inline-block;
    text-align: center;
  }
}
.features .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
  text-align: left;
  padding-left: 103px;
  gap: 30px;
}
@media (min-width: 768px) {
  .features .content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .features .content {
    padding-top: 40px;
    margin-right: 110px;
    text-align: center;
  }
}
@media (max-width: 1400px) {
  .features {
    margin-top: 80px;
  }
}

.company .container {
  position: relative;
  font-family: "DM Sans", sans-serif;
  text-align: left;
  display: grid;
  grid-template-columns: 3fr 5fr;
  justify-items: start;
  padding-bottom: 80px;
}
.company .container .founder {
  position: relative;
}
.company .container .founder .founder-pic {
  position: relative;
  z-index: -1;
}
.company .container .founder .wavy-lines {
  position: absolute;
  width: 35%;
  top: 60px;
  left: 0px;
}
.company .container .founder h2 {
  position: absolute;
  top: 400px;
  left: -25px;
  font-size: 22px;
  z-index: 1;
  color: #191919;
  font-weight: 700;
}
.company .container .founder h3 {
  position: absolute;
  top: 404px;
  right: 270px;
  color: #F94D1C;
  font-size: 18px;
  z-index: 1;
  font-weight: 700;
}
.company .container .founder p {
  position: absolute;
  top: 440px;
  left: -25px;
  z-index: 1;
  color: #191919;
  width: 300px;
  font-weight: 500;
}
.company .container .founder .founder-box {
  position: absolute;
  margin-left: -40px;
  margin-top: -200px;
  height: 160px;
  width: 325px;
  background-color: #BEEBFF;
  z-index: 0;
}
@media (max-width: 768px) {
  .company .container .founder {
    display: none;
  }
}
.company .container .content {
  display: inline-block;
  position: absolute;
  padding-left: 500px;
  margin-left: 200px;
  padding-right: 150px;
  top: -125px;
  color: #191919;
  text-decoration: none;
  text-align: left;
}
.company .container .content .section-title3 {
  padding-top: 70px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .company .container .content .section-title3 {
    padding-top: 120px;
  }
}
.company .container .content .section-title3 p {
  color: #F94D1C;
  margin-bottom: 10px;
}
.company .container .content .section-title3 h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.company .container .content .btns {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.company .container .content .btns .intro-video a {
  color: #191919;
  margin-right: 210px;
  margin-top: -10px;
  background-color: transparent;
  border: 1px solid #191919;
  text-decoration: none;
  padding: 16px 22px;
  border-radius: 50px;
}
.company .container .content .btns .intro-video a:hover {
  color: #F0EFE9;
  background-color: #191919;
}
@media (max-width: 1400px) {
  .company .container .content .btns .intro-video {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .company .container .content .btns .intro-video {
    margin-left: 100px;
  }
}
@media (max-width: 1400px) {
  .company .container .content .btns {
    display: block;
    margin-top: -40px;
  }
}
.company .container .content .intro-video-text {
  position: absolute;
  right: 270px;
  bottom: -14px;
  font-weight: 500;
}
@media (max-width: 1400px) {
  .company .container .content .intro-video-text {
    margin-right: 20px;
  }
}
@media (max-width: 1200px) {
  .company .container .content .intro-video-text {
    margin-right: 0px;
  }
}
@media (max-width: 768px) {
  .company .container .content .intro-video-text {
    margin-right: 40px;
  }
}
@media (max-width: 768px) {
  .company .container .content {
    display: block;
    margin-left: 40px;
    padding-left: 0px;
    padding-top: 30px;
    width: 600px;
    text-align: center;
  }
}
@media (max-width: 1400px) {
  .company .container {
    padding-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .company .container {
    margin-left: 100px;
  }
}

.our-services {
  background-color: #F0EFE9;
  font-family: "DM Sans", sans-serif;
  color: #191919;
  text-decoration: none;
  padding-bottom: 80px;
  padding-right: 100px;
}
.our-services .container {
  padding-bottom: 100px;
}
.our-services .container .section-title {
  width: 500px;
}
@media (max-width: 1000px) {
  .our-services .container .section-title {
    text-align: center;
    margin-left: 100px;
  }
}
.our-services .container .services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  gap: 30px;
}
.our-services .container .services .panels {
  border: 1px black;
  padding: 80px 50px;
  justify-content: space-between;
  background-color: #FFFFFF;
}
.our-services .container .services .panels:hover {
  color: #191919;
  background-color: #F9D783;
}
.our-services .container .services .show-more a {
  color: #FFFFFF;
  padding-top: 20px;
  background-color: black;
  border: 1px solid #191919;
  text-decoration: none;
  padding: 16px 22px;
  border-radius: 50px;
  margin-left: 140px;
}
.our-services .container .services .show-more a:hover {
  color: #191919;
  background-color: #FFFFFF;
}
.our-services .container .services h2 {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 12px;
}
.our-services .container .services p {
  font-size: 16px;
  padding-bottom: 26px;
}
@media (max-width: 1000px) {
  .our-services .container .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.our-services .container .browse-services {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  margin-left: 550px;
}
.our-services .container .browse-services i {
  margin-left: 8px;
  font-size: 0.9em;
}
.our-services .container .browse-services:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}
@media (max-width: 1000px) {
  .our-services .container .browse-services {
    display: block;
    margin-left: 80px;
    margin: 245px;
    margin-top: 0px;
    margin-bottom: -100px;
  }
}
@media (max-width: 768px) {
  .our-services .container .browse-services {
    margin: 150px;
    margin-top: 0px;
    margin-bottom: -50px;
  }
}
.our-services .container .background-lines-right {
  position: absolute;
  right: 0px;
  margin-top: -35px;
}
@media (max-width: 1400px) {
  .our-services .container {
    margin-top: 50px;
  }
}
@media (max-width: 1200px) {
  .our-services .container {
    margin-top: 150px;
  }
}
@media (max-width: 768px) {
  .our-services .container {
    margin-top: 450px;
  }
}

.why-choose-us {
  font-family: "DM Sans", sans-serif;
  display: block;
  text-align: left;
}
.why-choose-us .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.why-choose-us .container .explanation .section-title {
  display: block;
  width: 400px;
  margin-bottom: -40px;
}
@media (max-width: 768px) {
  .why-choose-us .container .explanation .section-title {
    margin-bottom: 20px;
  }
}
.why-choose-us .container .explanation .topics {
  display: block;
  margin-left: 80px;
}
.why-choose-us .container .explanation .topics h2 {
  font-size: 22px;
  padding-bottom: 8px;
}
.why-choose-us .container .explanation .topics p {
  font-size: 16px;
  padding-bottom: 20px;
}
.why-choose-us .container .explanation .topics i {
  position: absolute;
  border: 1px solid black;
  border-radius: 40px;
  padding: 15px;
  font-size: 25px;
  margin-left: -90px;
  margin-top: -100px;
}
@media (max-width: 1200px) {
  .why-choose-us .container .explanation {
    margin-left: 300px;
  }
}
@media (max-width: 990px) {
  .why-choose-us .container .explanation {
    margin-left: 150px;
  }
}
@media (max-width: 768px) {
  .why-choose-us .container .explanation {
    margin-left: 100px;
  }
}
.why-choose-us .container img {
  margin-top: 120px;
  z-index: 1;
}
@media (max-width: 1200px) {
  .why-choose-us .container img {
    display: none;
  }
}
.why-choose-us .container .why-box {
  position: absolute;
  z-index: -1;
}
@media (max-width: 1400px) {
  .why-choose-us .container .why-box {
    display: none;
  }
}
@media (min-width: 1400px) {
  .why-choose-us .container .why-box {
    height: 450px;
    width: 1080px;
    background-color: #F0EFE9;
    margin-top: 300px;
    margin-left: 500px;
  }
}

.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
.project-and-case .container .project-and-cases .project img {
  width: 100%;
  height: auto;
}
.project-and-case .container .project-and-cases .project h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.project-and-case .container .project-and-cases .project .readmore {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.project-and-case .container .project-and-cases .project .readmore i {
  margin-left: 3px;
}
.project-and-case .container .project-and-cases .project:hover .readmore {
  text-decoration: underline;
}
.project-and-case .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.meet-our-team {
  background-color: rgba(240, 208, 130, 0.93);
}
@media (max-width: 1200px) {
  .meet-our-team .container .section-title {
    margin-left: 50px;
  }
}
@media (max-width: 990px) {
  .meet-our-team .container .section-title {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .meet-our-team .container .section-title {
    width: 600px;
  }
}
.meet-our-team .container .team-btn {
  text-align: end;
  margin-top: -130px;
  padding-bottom: 35px;
}
.meet-our-team .container .team-btn i {
  padding-left: 5px;
}
@media (max-width: 1200px) {
  .meet-our-team .container .team-btn {
    margin-right: 50px;
  }
}
@media (max-width: 990px) {
  .meet-our-team .container .team-btn {
    margin-right: -150px;
  }
}
@media (max-width: 990px) {
  .meet-our-team .container .team-btn {
    margin-right: -80px;
  }
}
@media (max-width: 768px) {
  .meet-our-team .container .team-btn {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 0px;
  }
}
.meet-our-team .container .members {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding-top: 90px;
  padding-bottom: 50px;
}
.meet-our-team .container .members h2 {
  font-family: "DM Sans", sans-serif;
  padding-top: 20px;
  font-size: 22px;
  font-weight: 700;
}
.meet-our-team .container .members p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(25, 25, 25, 0.7);
}
@media (max-width: 1200px) {
  .meet-our-team .container .members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 100px;
  }
}
@media (max-width: 990px) {
  .meet-our-team .container .members {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .meet-our-team .container .members {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 120px;
  }
}
.meet-our-team .container .carousel {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 10px;
  padding-bottom: 90px;
}
.meet-our-team .container .Testimonial {
  background-color: #FFFFFF;
}
.meet-our-team .container .Testimonial .section-title {
  text-align: center;
}
@media (max-width: 990px) {
  .meet-our-team .container .Testimonial .section-title {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .meet-our-team .container .Testimonial .section-title {
    margin-left: -50px;
  }
}
.meet-our-team .container .Testimonial .reviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 200px;
  padding-left: 100px;
}
.meet-our-team .container .Testimonial .reviews .stars {
  padding-bottom: 30px;
  color: #F94D1C;
}
.meet-our-team .container .Testimonial .reviews img {
  border: 1px solid #FFFFFF;
  border-radius: 40px;
}
.meet-our-team .container .Testimonial .reviews p {
  text-align: left;
  width: 290px;
  padding-bottom: 30px;
}
.meet-our-team .container .Testimonial .reviews h2 {
  font-size: 22px;
}
.meet-our-team .container .Testimonial .reviews h3 {
  font-size: 16px;
  color: #F94D1C;
  font-weight: normal;
}
.meet-our-team .container .Testimonial .reviews .review-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.meet-our-team .container .Testimonial .reviews .review-1 h2 {
  margin-left: -200px;
  margin-top: 10px;
}
.meet-our-team .container .Testimonial .reviews .review-1 h3 {
  margin-left: 90px;
  margin-top: -30px;
  width: 200px;
}
@media (max-width: 1200px) {
  .meet-our-team .container .Testimonial .reviews .review-1 {
    padding-bottom: 60px;
    margin-top: -20px;
  }
}
.meet-our-team .container .Testimonial .reviews .review-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.meet-our-team .container .Testimonial .reviews .review-2 h2 {
  margin-left: -200px;
  margin-top: 10px;
}
.meet-our-team .container .Testimonial .reviews .review-2 h3 {
  margin-left: 90px;
  margin-top: -30px;
  width: 200px;
}
@media (max-width: 1200px) {
  .meet-our-team .container .Testimonial .reviews .review-2 {
    padding-bottom: 60px;
    margin-top: -20px;
  }
}
.meet-our-team .container .Testimonial .reviews .review-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.meet-our-team .container .Testimonial .reviews .review-3 h2 {
  margin-left: -220px;
  margin-top: 10px;
}
.meet-our-team .container .Testimonial .reviews .review-3 h3 {
  margin-left: 90px;
  margin-top: -30px;
  width: 220px;
}
@media (max-width: 1200px) {
  .meet-our-team .container .Testimonial .reviews .review-3 {
    margin-top: -20px;
  }
}
@media (max-width: 1200px) {
  .meet-our-team .container .Testimonial .reviews {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 250px;
  }
}
@media (max-width: 990px) {
  .meet-our-team .container .Testimonial .reviews {
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .meet-our-team .container .Testimonial .reviews {
    margin-left: 50px;
  }
}
.meet-our-team .container .all-reviews-btn {
  text-align: center;
  margin-top: -100px;
  padding-bottom: 200px;
}

@media (max-width: 1000px) {
  .article-news .container .section-title {
    text-align: center;
  }
}
.article-news .container .article-btn {
  text-align: end;
  margin-top: -120px;
  padding-bottom: 35px;
}
.article-news .container .article-btn i {
  padding-left: 5px;
}
@media (max-width: 1000px) {
  .article-news .container .article-btn {
    display: none;
  }
}
.article-news .container .articles {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.article-news .container .articles h3 {
  font-size: 16px;
  padding-top: 20px;
}
.article-news .container .articles h2 {
  font-size: 22px;
  width: 300px;
  padding-top: 10px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}
.article-news .container .articles p {
  font-size: 16px;
  padding-bottom: 60px;
  color: rgba(25, 25, 25, 0.7);
}
.article-news .container .articles .date {
  position: absolute;
  text-align: center;
  color: #191919;
  background-color: #F9D783;
  width: 50px;
  z-index: 1;
  top: 16px;
  margin-left: 16px;
  padding-top: 10px;
  padding-bottom: 5px;
}
@media (max-width: 1000px) {
  .article-news .container .articles {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    justify-content: center;
  }
  .article-news .container .articles p {
    width: 400px;
  }
}
.article-news .container .carousel {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 10px;
  padding-bottom: 90px;
}

.Newsletter {
  background-color: #F0EFE9;
  position: relative;
  padding: 80px;
  padding-bottom: 80px;
}
.Newsletter .background-wavy-right {
  position: absolute;
  bottom: 50px;
  right: 0;
}
.Newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.Newsletter .container form input {
  color: #191919;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 25px;
  outline: none;
  border: 1px solid #DAD9D3;
  margin-right: 20px;
}

footer {
  padding-top: 100px;
  background-color: #0E1021;
  position: relative;
}
footer .container .info .top-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-bottom: 200px;
}
footer .container .info .top-footer p {
  padding-top: 30px;
  padding-right: 100px;
  font-size: 16px;
  width: 390px;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 990px) {
  footer .container .info .top-footer p {
    margin-left: 200px;
  }
}
footer .container .info .top-footer h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 30px;
  color: #FFFFFF;
}
@media (max-width: 990px) {
  footer .container .info .top-footer h2 {
    padding-top: 40px;
    padding-bottom: 10px;
  }
}
footer .container .info .top-footer a {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 15px;
}
footer .container .info .top-footer a:hover {
  text-decoration: underline;
  color: #7C7C7C;
}
@media (max-width: 1200px) {
  footer .container .info .top-footer {
    gap: 30px;
  }
}
@media (max-width: 990px) {
  footer .container .info .top-footer {
    display: block;
    text-align: center;
  }
}
footer .container .info .bottom-footer {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 480px;
}
footer .container .info .bottom-footer p {
  color: #FFFFFF;
}
@media (max-width: 990px) {
  footer .container .info .bottom-footer p {
    width: 500px;
  }
}
footer .container .info .bottom-footer .social-media {
  margin-left: 470px;
  letter-spacing: 10px;
}
footer .container .info .bottom-footer .social-media a {
  color: #FFFFFF;
}
footer .container .info .bottom-footer .social-media a:hover {
  color: #7C7C7C;
}
@media (max-width: 1200px) {
  footer .container .info .bottom-footer .social-media {
    margin-left: 300px;
  }
}
@media (max-width: 990px) {
  footer .container .info .bottom-footer .social-media {
    margin-left: 0px;
  }
}
footer .container .info .bottom-footer .footer-lines {
  position: absolute;
  bottom: 0px;
  right: -354px;
}
@media (max-width: 1400px) {
  footer .container .info .bottom-footer .footer-lines {
    display: none;
  }
}
@media (max-width: 990px) {
  footer .container .info .bottom-footer {
    margin-top: 900px;
  }
}
@media (max-width: 768px) {
  footer .container .info .bottom-footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.showcase-contacts {
  background-color: #F0EFE9;
}
.showcase-contacts .container {
  display: block;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
}
.showcase-contacts .container .website-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.showcase-contacts .container .website-btns a {
  text-decoration: none;
  color: #191919;
  font-size: 16px;
  font-weight: 300;
}
.showcase-contacts .container .website-btns a:hover {
  text-decoration: underline;
  color: #7C7C7C;
}
.showcase-contacts .container .website-btns .home-btn {
  margin-left: 500px;
}
@media (max-width: 1400px) {
  .showcase-contacts .container .website-btns .home-btn {
    margin-left: 400px;
  }
}
@media (max-width: 1200px) {
  .showcase-contacts .container .website-btns .home-btn {
    margin-left: 300px;
  }
}
@media (max-width: 1000px) {
  .showcase-contacts .container .website-btns .home-btn {
    margin-left: 200px;
  }
}
@media (max-width: 768px) {
  .showcase-contacts .container .website-btns .home-btn {
    margin-left: 100px;
  }
}
.showcase-contacts .container .website-btns .contacts-btn {
  margin-right: 550px;
}
@media (max-width: 1400px) {
  .showcase-contacts .container .website-btns .contacts-btn {
    margin-right: 450px;
  }
}
@media (max-width: 1200px) {
  .showcase-contacts .container .website-btns .contacts-btn {
    margin-right: 350px;
  }
}
@media (max-width: 1000px) {
  .showcase-contacts .container .website-btns .contacts-btn {
    margin-right: 250px;
  }
}
@media (max-width: 768px) {
  .showcase-contacts .container .website-btns .contacts-btn {
    margin-right: 150px;
  }
}
.showcase-contacts .container h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 56px;
  font-weight: 700;
  padding-top: 10px;
}
.showcase-contacts .background-lines {
  bottom: 0;
  left: 0;
}

.contact-info .container {
  padding-top: 100px;
  padding-bottom: 80px;
}
.contact-info .container .contact-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.contact-info .container .contact-desc .visit-us {
  border: 1px solid #7C7C7C;
  padding: 20px 120px;
}
.contact-info .container .contact-desc .visit-us h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-top: 20px;
}
.contact-info .container .contact-desc .visit-us p {
  font-size: 18px;
  width: 150px;
}
.contact-info .container .contact-desc .visit-us i {
  position: absolute;
  border: 1px;
  background-color: #191919;
  color: #FFFFFF;
  border-radius: 40px;
  padding: 20px;
  font-size: 18px;
  margin-left: -90px;
  margin-top: 20px;
}
.contact-info .container .contact-desc .call-us {
  border: 1px solid #7C7C7C;
  padding: 20px 120px;
}
.contact-info .container .contact-desc .call-us h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-top: 20px;
}
.contact-info .container .contact-desc .call-us p {
  font-size: 18px;
  width: 150px;
}
.contact-info .container .contact-desc .call-us i {
  position: absolute;
  border: 1px;
  background-color: #191919;
  color: #FFFFFF;
  border-radius: 40px;
  padding: 20px;
  font-size: 18px;
  margin-left: -90px;
  margin-top: 20px;
}
.contact-info .container .contact-desc .email-us {
  border: 1px solid #7C7C7C;
  padding: 20px 120px;
}
.contact-info .container .contact-desc .email-us h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-top: 20px;
}
.contact-info .container .contact-desc .email-us p {
  font-size: 18px;
}
@media (max-width: 1000px) {
  .contact-info .container .contact-desc .email-us p {
    width: 200px;
  }
}
.contact-info .container .contact-desc .email-us i {
  position: absolute;
  border: 1px;
  background-color: #191919;
  color: #FFFFFF;
  border-radius: 40px;
  padding: 20px;
  font-size: 18px;
  margin-left: -90px;
  margin-top: 20px;
}
@media (max-width: 1000px) {
  .contact-info .container .contact-desc {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .contact-info .container .contact-desc {
    margin-left: 40px;
  }
}

.feedback .container {
  display: block;
  text-align: center;
  background-color: #F0EFE9;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 100px;
}
.feedback .container h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  padding-top: 100px;
  padding-bottom: 20px;
}
.feedback .container .feedback-form .name {
  padding-top: 20px;
  padding-bottom: 15px;
}
.feedback .container .feedback-form .name input {
  display: inline;
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 10px;
}
.feedback .container .feedback-form .email {
  padding-bottom: 15px;
}
.feedback .container .feedback-form .email input {
  display: inline;
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 10px;
}
.feedback .container .feedback-form .text {
  padding-bottom: 15px;
}
.feedback .container .feedback-form .text textarea {
  display: inline;
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 20px;
}
.feedback .container .feedback-btn {
  padding-bottom: 100px;
  background-color: #F9D783;
  border: 1px solid #F9D783;
  padding: 15px;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  border-radius: 48px;
}
.feedback .container .feedback-btn:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}
.feedback .container .feedback-btn a {
  text-decoration: none;
  color: #191919;
}

.map {
  padding-top: 100px;
}